{include file="public:twombhead" /}

<div class="am-container" style="padding:2px">
    <style>


        .payment-icon-list ul, .payment-list ul {
            padding: 1px 0;
        }



        .payment-icon-list li.curr:after, .payment-list li.curr:after {
            content: '';
            position: absolute;
            width: 17px;
            height: 17px;
            background-image: url(/index/sink/cssimg/zf.png);
            bottom: 0;
            right: 0;
            background-position: 17px -119px;
        }
        .payment-list li {
            padding: 3px 3px;
            font-size: 14px;
            border: 1px solid #b4b7bf;
            border-radius: 3px;
            display: inline-block;
            position: relative;
            cursor: pointer;
            margin-right: 5px;
        }
        .payment-icon-list li.curr, .payment-list li.curr {
            border: 1px solid #0071ce;
            border: 1px solid #db5b5a;
            color: #0071ce;

        }
        .payment-icon-list li i, .payment-list li i {
            text-indent: -10000px;
            overflow: hidden;
            outline: 0;
        }
        .payment-icon-cft {
            background-image: url(/index/sink/cssimg/alipaym.png);
            background-position: 0px -76px;
        }
        .payment-icon-wx {
            background-image: url(/index/sink/cssimg/wxpaym.png);
            background-position: 0px -75px;
        }
        .payment-icon-qq {
            background-image: url(/index/sink/cssimg/qqpaym.png);
            background-position: 0px 69px;
        }

        .payment-icon-yu {
            background-image: url(/index/sink/cssimg/yuem.png);
            background-position: 0px 70px;
        }

        .payment-icon-cft, .payment-icon-yu, .payment-icon-ms, .payment-icon-qq, .payment-icon-vs, .payment-icon-wx {
            display: inline-block;
            vertical-align: top;
            width: 99px;
            height: 30px;
        }

        em, i {
            font-style: normal;
            font-weight: 400;
        }


    </style>
    <div class="am-panel am-panel-default">
        <div class="am-panel-hd">确认订单信息</div>
        <div class="am-panel-bd">
            <ul class="am-list am-list-static">
                <li >订单编号：{$order.order_no}</li>
                <li class="am-text-truncate paynames" data-title="{$goods[$order.gid]}">商品名称：{$goods[$order.gid]}</li>
                <li>商品单价：{$order.danpay|floatval}元/件</li>
                <li>购买数量：{$order.num}件</li>
                <li >订单信息：{eq name='$order.huo' value='0'}联系电话：{$order.mobile} {else /}{$order.content}{/eq}</li>
                <li>发货类型：
                    {eq name='$order.huo' value='0'}
                    自动发货
                    {else /}
                    人工发货
                    {/eq}
                </li>
                <li>订单总价：{$order.countpay|floatval}元 </li>
            </ul>
            <span style="color:red">温馨提示：请将联系方式写复杂一点,以免有人偷卡</span>
        </div>
    </div>

    <div class="from">
        <div class="from_wz_3"><font color="#363636" size="3">支付方式：</font></div>
        <div class="am-g">
            <div class="payment-list">
                <ul>
                    {notempty name='$Think.session.info'}
                    <li class="yu" data-paytype="yu" ><i class="payment-icon-yu"></i></li>
                    {/notempty}
                    <li class="tenpay" data-paytype="alipay"><i class="payment-icon-cft">支付宝支付</i></li>
                    <li class="wx " data-paytype="wx" ><i class="payment-icon-wx">微信支付</i></li>
                    <li class="qq" data-paytype="qq" ><i class="payment-icon-qq">QQ支付</i></li>
                </ul>
            </div>
        </div>
    </div>

   <!--
    <div class="am-form-group">
        <h3>选择支付方式</h3>
        <div class="am-container">
            <div class="am-g">

                <div class="text-area-star" style="float:left">
                    <div class="am-u-sm-12 am-u-md-2 am-u-lg-2 am-u-end" style="padding:5px">
                        <label style="padding:5px">
                            <a class="yu" data-paytype="yu" ><i class="payment-icon-yu"></i></a>
                        </label>
                    </div>
                </div>

                <div class="text-area-star" style="float:left">
                    <div class="am-u-sm-12 am-u-md-2 am-u-lg-2 am-u-end" style="padding:5px">

                        <label style="padding:5px">
                            <a class="yu" data-paytype="alipay" ><i class="payment-icon-cft"></i></a>
                        </label>
                    </div>
                </div>

                <div class="text-area-star" style="float:left">
                    <div class="am-u-sm-12 am-u-md-2 am-u-lg-2 am-u-end" style="padding:5px">
                        <label style="padding:5px">
                            <a class="yu" data-paytype="wxpay" ><i class="payment-icon-wx"></i></a>
                        </label>
                    </div>
                </div>

                <div class="text-area-star" style="float:left">
                    <div class="am-u-sm-12 am-u-md-2 am-u-lg-2 am-u-end" style="padding:5px">
                        <label style="padding:5px">
                            <a class="yu" data-paytype="qqpay" ><i class="payment-icon-qq"></i></a>
                        </label>
                    </div>
                </div>

            </div>
        </div>
    </div>
    -->
    <hr>

    <!--<form id="payform" method="post" action="/pay">-->
        <input type="hidden" name="id" value="{$order.id}">
        <input type="hidden" id="payment" value="{$order.countpay}">
        <input type="hidden" id="order" value="{$order.order_no}">
    <!--</form>-->

    <div style=" text-align: right;">
        <button type="submit" onclick="mobilePay()" class="am-btn am-btn-danger am-btn-xl" style="width: 100%">立即付款</button>
    </div>
    <script>
        /*
        function payment(id){
            $("#payment").val(id);
            if(id == 1){
                layer.msg('支付宝支付');
            }
            if(id == 2){
                layer.msg('微信支付');
            }
            if(id == 3){
                layer.msg('qq支付');
            }
            if(id == 4){
                layer.msg('余额支付');
            }
        }
        */

        $(".payment-list ul li").click(function() {
            $(this).parent().find('li').removeClass('curr');
            $(this).addClass('curr');
            var n = $(this).index();
            $("#payid").find("option").eq(n).attr("selected", true)
        })


        /** 支付 **/
        function mobilePay(){
            var  types = $('ul li.curr').attr('data-paytype');//支付类型
            var  goodnames = $('.paynames').attr('data-title');//商品名称
            var  order_no  = $('#order').val();//商户订单号
            var  paynum    = $('#payment').val(); //商品总价
            var  sitename  = '栗子发卡网';
            var  url = "{:url('@index/pays/index')}";


            if(types == '' || types == undefined || types =='undefined'){
                layer.msg('请选择支付类型');
                return false;
            }

            if(types == 'yu'){
                layer.msg('改功能正在开发中。。');
                return false;
            }

            if(paynum == '' || paynum == undefined || paynum == 'undefined'){
                return false;
            }

            window.location.href=url+"?types="+types+"&goodnames="+goodnames+"&order_no="+order_no+"&paynum="+paynum+"&sitename="+sitename;
        }

    </script>

 {include file="public:twombfoot" /}
</div>