{include file="public:twombhead" /}

<div class="am-container" style="padding:2px">

    <div class="am-show-portrait">
        <ul class="am-avg-sm-4 am-avg-md-4 am-avg-lg-4 am-thumbnails" style="text-align:center;margin-top: 10px;">
            <li><a href="javascript: void(0)" data-am-modal="{target: '#my-alerts'}">
                <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-xingzhuanggongnengtubiao-"></use>
            </svg><br>订单查询</a></li>
            <li><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=26591626&amp;site=qq&amp;menu=yes"><svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-icon_kefu"></use>
            </svg><br>联系客服</a></li>
            <li><a href="{:url('login/login')}"><svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-filedicon_memberco"></use>
            </svg><br>会员中心</a></li>
            <li><a href="{:url('two/help')}"><svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-bangzhuyufankui"></use>
            </svg><br>帮助中心</a></li>
        </ul>
    </div>
    <div class="am-panel am-panel-default" style="margin:5px 0 5px 0;border-radius: 0px">
        <div class="am-panel-bd liebiaocatname">
            <p>{$indexs['content']|htmlspecialchars_decode}</p>
        </div>
    </div>
    <div class="goods">
        <div class="am-show-landscape">
            <ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-4 am-thumbnails">
                {volist name='list' id='vo'}

                {eq name='$vo.huo' value='0'}
                <li><a  data-href="{:url('two/trade',array('id'=>$vo.id))}" data-num="{if isset($vo.num)}{$vo.num}{else/}0{/if}" onclick="checknum(this)">
                    <div style="background-color: #fff;" class="index_good_body">
                        <img class="" src="{$vo.images|default=''}" style="width:100%;height:280px">
                        <div class="pr-info" style="padding:5px">
                            <span class="price">￥{$vo.money|default=''}</span>

                            <span class="pr-xl am-badge am-badge-danger" style="color:#fff">库存{if isset($vo.num)}{$vo.num}{else/}0{/if}</span>

                            <div class="index-goodname-xq" style="height:45px;color:#333">
                                <p title="{$vo.title}">{$vo.title|default=''}</p>
                            </div>
                        </div>
                    </div>
                </a></li>
                {else /}
                <li><a href="{:url('two/trade',array('id'=>$vo.id))}">
                    <div style="background-color: #fff;" class="index_good_body">
                        <img class="" src="{$vo.images}" style="width:100%;height:280px">
                        <div class="pr-info" style="padding:5px">
                            <span class="price">￥{$vo.money|default=''}</span>
                            <span class="pr-xl am-badge am-badge-success" style="color:#fff">代充商品</span>

                            <div class="index-goodname-xq" style="height:45px;color:#333">
                                <p title="{$vo.title}">{$vo.title|default=''}</p>
                            </div>
                        </div>
                    </div>
                </a></li>
                {/eq}
                {/volist}
            </ul>
        </div>

    </div>
    <!--            <ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-6 am-thumbnails" style="margin-top:10px">

                    <li><a type="button" class="am-btn am-btn-success am-btn-hollow am-square" style="width:100%;color:#000" href="" target="_blank"></a></li>

                    <li><a type="button" class="am-btn am-btn-success am-btn-hollow am-square" style="width:100%;color:#000" href="" target="_blank"></a></li>
                </ul>     -->

    {include file="public:twombfoot" /}
</div>
<script>
//kucun
function checknum(obj){
    var urls = $(obj).attr('data-href');
    var num  = $(obj).attr('data-num');

    if(urls =='' || urls == undefined){
        return false;
    } 

    if(num =='' || num ==0 || num == undefined || num == 'null'){
        layer.msg('该商品缺货，请勿购买',{icon:5});
        return false;
    } 

    window.location.href = urls;
}

</script>