{include file="public:twombhead" /}

<div class="am-container" style="padding:2px">

    <div class="am-show-portrait">
        <ul class="am-avg-sm-4 am-avg-md-4 am-avg-lg-4 am-thumbnails" style="text-align:center;margin-top: 10px;">
            <li><a href="javascript: void(0)" data-am-modal="{target: '#my-alerts'}"> <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-xingzhuanggongnengtubiao-"></use>
            </svg><br>订单查询</a></li>
            <li><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=26591626&amp;site=qq&amp;menu=yes"><svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-icon_kefu"></use>
            </svg><br>联系客服</a></li>
            <li><a href="/user"><svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-filedicon_memberco"></use>
            </svg><br>会员中心</a></li>
            <li><a href="/help"><svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-bangzhuyufankui"></use>
            </svg><br>帮助中心</a></li>
        </ul>
    </div>
    <div class="am-panel am-panel-default" style="margin:5px 0 5px 0;border-radius: 0px">
        <div class="am-panel-bd liebiaocatname"><p>
            <span style="font-size:18px;color:#E53333;"><strong></strong></span></p><p><strong><span style="color:#d35400;"><span style="font-size:18px;"><strong>本站是栗子发卡系统官方演示网站，可进行支付测试，建议支付时使用支付宝或者微信进行测试！！！</strong></span></span></strong></p><strong>

            <p><span style="color:#8e44ad;"><span style="font-size:18px;"><strong>所有商品只供测试，无实际作用！！！&nbsp; </strong></span></span><span style="color:#e74c3c;"><span style="font-size:18px;"><strong>发卡授权购买搭建：<a href="https://www.17faka.com/build.html" target="_blank">https://www.17faka.com/build.html</a></strong></span></span></p></strong>
            <p></p>
        </div>
    </div>
    <div class="goods">
        <div class="am-show-landscape">
            <ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-4 am-thumbnails">
                <li><a href="/trade?id=23">
                    <div style="background-color: #fff;" class="index_good_body">
                        <img class="" src="/static/upload/uploadimg/timg (1).jpg" style="width:100%;height:280px">
                        <div class="pr-info" style="padding:5px">
                            <span class="price">￥0.10</span>

                            <span class="pr-xl am-badge am-badge-danger" style="color:#fff">库存0</span>



                            <div class="index-goodname-xq" style="height:45px;color:#333"><p title="【CDK】爱奇艺周卡 无限叠加 质保5天...">【CDK】爱奇艺周卡 无限叠加 质保5天...</p></div>
                        </div>
                    </div>
                </a>
                </li>
                <li><a href="/trade?id=22">
                    <div style="background-color: #fff;" class="index_good_body">
                        <img class="" src="/static/upload/uploadimg/54564.jpg" style="width:100%;height:280px">
                        <div class="pr-info" style="padding:5px">
                            <span class="price">￥1.00</span>

                            <span class="pr-xl am-badge am-badge-danger" style="color:#fff">库存0</span>



                            <div class="index-goodname-xq" style="height:45px;color:#333"><p title="影视VIP（优酷土豆黄金会员 1个月CD...">影视VIP（优酷土豆黄金会员 1个月CD...</p></div>
                        </div>
                    </div>
                </a>
                </li>
                <li><a href="/trade?id=21">
                    <div style="background-color: #fff;" class="index_good_body">
                        <img class="" src="/static/upload/uploadimg/u=346107982,1458088848&amp;fm=26&amp;gp=0.jpg" style="width:100%;height:280px">
                        <div class="pr-info" style="padding:5px">
                            <span class="price">￥1.00</span>
                            <span class="pr-xl am-badge am-badge-success" style="color:#fff">代充商品</span>


                            <div class="index-goodname-xq" style="height:45px;color:#333"><p title="QQ超级会员丨点播官方超30天 显示到期...">QQ超级会员丨点播官方超30天 显示到期...</p></div>
                        </div>
                    </div>
                </a>
                </li>
                <li><a href="/trade?id=20">
                    <div style="background-color: #fff;" class="index_good_body">
                        <img class="" src="/static/upload/uploadimg/545.jpg" style="width:100%;height:280px">
                        <div class="pr-info" style="padding:5px">
                            <span class="price">￥1.00</span>
                            <span class="pr-xl am-badge am-badge-success" style="color:#fff">代充商品</span>


                            <div class="index-goodname-xq" style="height:45px;color:#333"><p title="官方直充|腾讯视频会员（好莱坞会员）一月...">官方直充|腾讯视频会员（好莱坞会员）一月...</p></div>
                        </div>
                    </div>
                </a>
                </li>
                <li><a href="/trade?id=19">
                    <div style="background-color: #fff;" class="index_good_body">
                        <img class="" src="/static/upload/uploadimg/1233.jpg" style="width:100%;height:280px">
                        <div class="pr-info" style="padding:5px">
                            <span class="price">￥1.00</span>

                            <span class="pr-xl am-badge am-badge-danger" style="color:#fff">库存50</span>



                            <div class="index-goodname-xq" style="height:45px;color:#333"><p title="爱奇艺激活码1个月31天激活码 质保3天...">爱奇艺激活码1个月31天激活码 质保3天...</p></div>
                        </div>
                    </div>
                </a>
                </li>
                <li><a href="/trade?id=18">
                    <div style="background-color: #fff;" class="index_good_body">
                        <img class="" src="/static/upload/uploadimg/timg.jpg" style="width:100%;height:280px">
                        <div class="pr-info" style="padding:5px">
                            <span class="price">￥1.00</span>
                            <span class="pr-xl am-badge am-badge-success" style="color:#fff">代充商品</span>


                            <div class="index-goodname-xq" style="height:45px;color:#333"><p title="蓝月亮洗衣液500g*10袋包邮 支持渠...">蓝月亮洗衣液500g*10袋包邮 支持渠...</p></div>
                        </div>
                    </div>
                </a>
                </li>
            </ul>
        </div>
        <div class="am-show-portrait">
            <div class="am-container">
                <div class="am-g">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12" style="padding:1px">
                        <div class="wapcatname" style="padding: 1px;text-align: center;">-----==&lt;&lt;自营商品&gt;&gt;==-----</div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12" style="border-bottom: #ccc 1px dashed">
                        <div style="background-color: #fff;height: 65px">
                            <div style="padding:0px">
                                <a href="/trade?id=18" style="color: #3c3c3c;">
                                    <img class="am-radius" alt="蓝月亮洗衣液500g*10袋包邮 支持渠..." src="/static/upload/uploadimg/timg.jpg" width="60" height="60" style="float: left">
                                    <div class="index-goodname-xq" style="height:38px;color:#333;"><p title="蓝月亮洗衣液500g*10袋包邮 支持渠..." style="margin-left:5px;font-size: 10px">蓝月亮洗衣液500g*10袋包邮 支持渠...</p></div>
                                    <div class="am-text-truncate" style="margin-left: 15px;">
                                        <div style="">
                                            <span class="am-badge am-badge-success" style="margin-left: 5px">代充</span>

                                            <span class="am-badge am-badge-danger">销量(0)</span>
                                            <span style="color: #ff0000">
                                                        <b>￥1.00</b>
                                                    </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12" style="padding:1px">
                        <div class="wapcatname" style="padding: 1px;text-align: center;">-----==&lt;&lt;代充专区&gt;&gt;==-----</div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12" style="border-bottom: #ccc 1px dashed">
                        <div style="background-color: #fff;height: 65px">
                            <div style="padding:0px">
                                <a href="/trade?id=21" style="color: #3c3c3c;">
                                    <img class="am-radius" alt="QQ超级会员丨点播官方超30天 显示到期..." src="/static/upload/uploadimg/u=346107982,1458088848&amp;fm=26&amp;gp=0.jpg" width="60" height="60" style="float: left">
                                    <div class="index-goodname-xq" style="height:38px;color:#333;"><p title="QQ超级会员丨点播官方超30天 显示到期..." style="margin-left:5px;font-size: 10px">QQ超级会员丨点播官方超30天 显示到期...</p></div>
                                    <div class="am-text-truncate" style="margin-left: 15px;">
                                        <div style="">
                                            <span class="am-badge am-badge-success" style="margin-left: 5px">代充</span>

                                            <span class="am-badge am-badge-danger">销量(0)</span>
                                            <span style="color: #ff0000">
                                                        <b>￥1.00</b>
                                                    </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12" style="border-bottom: #ccc 1px dashed">
                        <div style="background-color: #fff;height: 65px">
                            <div style="padding:0px">
                                <a href="/trade?id=20" style="color: #3c3c3c;">
                                    <img class="am-radius" alt="官方直充|腾讯视频会员（好莱坞会员）一月..." src="/static/upload/uploadimg/545.jpg" width="60" height="60" style="float: left">
                                    <div class="index-goodname-xq" style="height:38px;color:#333;"><p title="官方直充|腾讯视频会员（好莱坞会员）一月..." style="margin-left:5px;font-size: 10px">官方直充|腾讯视频会员（好莱坞会员）一月...</p></div>
                                    <div class="am-text-truncate" style="margin-left: 15px;">
                                        <div style="">
                                            <span class="am-badge am-badge-success" style="margin-left: 5px">代充</span>

                                            <span class="am-badge am-badge-danger">销量(1)</span>
                                            <span style="color: #ff0000">
                                                        <b>￥1.00</b>
                                                    </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12" style="padding:1px">
                        <div class="wapcatname" style="padding: 1px;text-align: center;">-----==&lt;&lt;爱奇艺、藤讯、优酷视频激活码专区&gt;&gt;==-----</div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12" style="border-bottom: #ccc 1px dashed">
                        <div style="background-color: #fff;height: 65px">
                            <div style="padding:0px">
                                <a href="/trade?id=23" style="color: #3c3c3c;">
                                    <img class="am-radius" alt="【CDK】爱奇艺周卡 无限叠加 质保5天..." src="/static/upload/uploadimg/timg (1).jpg" width="60" height="60" style="float: left">
                                    <div class="index-goodname-xq" style="height:38px;color:#333;"><p title="【CDK】爱奇艺周卡 无限叠加 质保5天..." style="margin-left:5px;font-size: 10px">【CDK】爱奇艺周卡 无限叠加 质保5天...</p></div>
                                    <div class="am-text-truncate" style="margin-left: 15px;">
                                        <div style="">
                                                                                                        <span class="am-badge am-badge-primary" style="margin-left: 5px">
                                                        库存(0)
                                                    </span>

                                            <span class="am-badge am-badge-danger">销量(343)</span>
                                            <span style="color: #ff0000">
                                                        <b>￥0.10</b>
                                                    </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12" style="border-bottom: #ccc 1px dashed">
                        <div style="background-color: #fff;height: 65px">
                            <div style="padding:0px">
                                <a href="/trade?id=22" style="color: #3c3c3c;">
                                    <img class="am-radius" alt="影视VIP（优酷土豆黄金会员 1个月CD..." src="/static/upload/uploadimg/54564.jpg" width="60" height="60" style="float: left">
                                    <div class="index-goodname-xq" style="height:38px;color:#333;"><p title="影视VIP（优酷土豆黄金会员 1个月CD..." style="margin-left:5px;font-size: 10px">影视VIP（优酷土豆黄金会员 1个月CD...</p></div>
                                    <div class="am-text-truncate" style="margin-left: 15px;">
                                        <div style="">
                                                                                                        <span class="am-badge am-badge-primary" style="margin-left: 5px">
                                                        库存(0)
                                                    </span>

                                            <span class="am-badge am-badge-danger">销量(0)</span>
                                            <span style="color: #ff0000">
                                                        <b>￥1.00</b>
                                                    </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12" style="border-bottom: #ccc 1px dashed">
                        <div style="background-color: #fff;height: 65px">
                            <div style="padding:0px">
                                <a href="/trade?id=19" style="color: #3c3c3c;">
                                    <img class="am-radius" alt="爱奇艺激活码1个月31天激活码 质保3天..." src="/static/upload/uploadimg/1233.jpg" width="60" height="60" style="float: left">
                                    <div class="index-goodname-xq" style="height:38px;color:#333;"><p title="爱奇艺激活码1个月31天激活码 质保3天..." style="margin-left:5px;font-size: 10px">爱奇艺激活码1个月31天激活码 质保3天...</p></div>
                                    <div class="am-text-truncate" style="margin-left: 15px;">
                                        <div style="">
                                                                                                        <span class="am-badge am-badge-primary" style="margin-left: 5px">
                                                        库存(50)
                                                    </span>

                                            <span class="am-badge am-badge-danger">销量(0)</span>
                                            <span style="color: #ff0000">
                                                        <b>￥1.00</b>
                                                    </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--            <ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-6 am-thumbnails" style="margin-top:10px">

                    <li><a type="button" class="am-btn am-btn-success am-btn-hollow am-square" style="width:100%;color:#000" href="" target="_blank"></a></li>

                    <li><a type="button" class="am-btn am-btn-success am-btn-hollow am-square" style="width:100%;color:#000" href="" target="_blank"></a></li>
                </ul>     -->

    {include file="public:twombfoot" /}
</div>