{include file='public:twombhead'/}
        <div class="am-container" style="padding:2px">

            {volist name='info' id='orders'}
            <section class="am-panel" style="margin-top:5px;margin-bottom: 5px;border: #ccc 1px solid">
                <header class="am-topbar-inverse" style="padding:15px;color:#">
                    <h3 class="am-panel-title" style="text-align:center">订单信息</h3>
                </header>
                <div class="am-panel-bd">
                    <ul class="am-list am-list-static" >
                        <li class="am-text-truncate">订单编号：{$orders['order_no']}</li>
                        <li class="am-text-truncate">商品名称：{$goods[$orders.gid]}</li>
                        <li>下单时间：{$orders.create_time}</li>
                        <li>支付价格：￥{$orders.countpay}</li>
                        <li>购买数量：{$orders.num}件</li>
                        <li>发货方式：{if condition='$orders.huo eq 0'} 自动发货{else /}手动发货{/if}</li>
                        <li>发卡状态：
                            {if condition='$orders.status eq 2'}
                              已发货
                            {elseif condition='$orders.status eq 3'/}
                             联系客服退款
                            {else /}
                             未发货
                            {/if}
                        </li>
<!--                        <li>支付方式：微信支付</li>-->
                        <li>订单状态：
                        {if condition='$orders.status eq 1'}
                        <font style="cursor:pointer;" color="#ff4351">已付款</font>
                        {/if}

                        {if condition='$orders.status eq 0'}
                        <font style="cursor:pointer" color="#CCCCCC">未付款</font>
                        {/if}</li>
                    </ul>
                </div>
            </section>
            <script src="/static/twomb/js/clipboard.min.js"></script>
            {if condition='$orders.huo eq 0'}
            <section class="am-panel" style="margin-top:5px;margin-bottom: 5px;border: #ccc 1px solid;">
                <header class="am-topbar-inverse" style="padding:15px;color:#3c3c3c">
                    <h3 class="am-panel-title" style="text-align:center;color: #fff">
                        卡密信息
                    </h3>
                </header>

                <div class="am-panel-bd" style="font-weight:bold;" id="target">
                    {volist name='cardlist' id='card'}
                    {$card.kami}<br>
                    {/volist}
                    <br>
                </div>
                <div style="text-align:right;padding: 10px"><a class="am-btn am-topbar-inverse" style="color:#fff" href="{:url('two/daochu')}?order_no={$orders.order_no}" target="_blank">导出</a>
                    <button class="am-btn am-topbar-inverse" data-clipboard-action="copy" data-clipboard-target="#target" id="copy_btn">
                        复制
                    </button>
                </div>
            </section>
             {/if}
            {/volist}
            <script>
                $(document).ready(function() {
                    var clipboard = new Clipboard('#copy_btn');
                    clipboard.on('success', function(e) {
                        //layer.msg('复制成功');

                        e.clearSelection();
                        console.log(e.clearSelection);
                    });
                    $("#copy_btn").click(function() {
                        layer.msg('复制成功');
                    });
                });
                function editaccount(orderid) {
                    layer.open({
                        type: 2,
                        title: '修改代充账号信息',
                        shadeClose: true,
                        shade: 0.8,
                        area: ['380px', '50%'],
                        content: '/index/EditAccount.html' + '?OrderId=' + orderid //iframe的url
                    });
                }
            </script> 
       <center>{include file='public:twombfoot'/}</center>
        </div>

    </body>
</html> 