{include file="public:twombhead" /}

<div class="am-container" style="padding:2px">



    <div class="am-panel am-panel-default" style="margin:5px 0 5px 0;border-radius: 0px">
        <div class="am-panel-bd liebiaocatname">
          {$content.content}
        </div>
    </div>
    <script>
        $(function() {
            if ($("#kucun").val() == 0) {
                $("#paysubmit").attr("class", 'am-btn am-btn-danger am-btn-xl am-disabled');
                $("#paysubmit").attr("disabled", true);
                $("#paysubmit").html("库存不足");
            }
        });
    </script>
    <div class="good-trade">

        <div class="am-container" style="">
            <div class="am-g ">

                <div class="am-u-sm-12 am-u-md-5 am-u-lg-5 trade-goodimg am-u-end" style="padding: 0px;text-align: center">

                    <img src="{$info.images}" alt="">

                </div>
                <div class="am-u-sm-12 am-u-md-7 am-u-lg-7  am-u-end" style="">
                    <!-- 网格开始 -->

                    <h2 style="margin-top: 0px;color: #333;font-family: 微软雅黑;" class="am-text-truncate">{$info.title|default=''}</h2>
                    <p class="trade-goodinfo" style="background-color:#f5f3ef;margin-top: 20px">
                        <span style="color:#6c6c6c">促销：</span>
                        <span class="trade-price">￥{$info.money} </span>
                        <span style="float:right">
                                        <span style="color: #6C6C6C;">累积销量：</span>
                                        <span style="color:#6c6c6c;font-size:18px;">{$info.paynum|default='0'}</span>
                                    </span><br>
                        {eq name='$info.huo' value='0'}
                        <span style="color:#6C6C6C">库存：{$info.num}件</span>
                        {/eq}
                        <a id="lookpf" style="margin-left:5px;font-size:10px" href="javascript:;" onclick="lookpf('{$info.pinum}','{$info.pipay}')">查看批发价</a>
                        {eq name='$info.huo' value='0'}
                        <br><span style="color:#6c6c6c;">服务：自动发货 无忧售后</span>
                        {else /}
                        <br><span style="color:#6c6c6c;">服务：手工发货</span>
                        {/eq}
                    </p>
                    <script>
                        function lookpf(num,pay) {
                            layer.tips('满'+num+'件'+pay+'元/件', '#lookpf', {
                                tips: [3, '#78BA32']
                            });
                        }

                    </script>
                    <form  method="post" >
                        {if condition="$info.moban eq 0"}
                        <div class="from">
                                    <span style="color:#6c6c6c;margin-left:10px">联系方式：
                                        <input  id="mobile_zi" style="padding: 0.5em;font-size: 1rem;line-height: 1.2;color: #333;" placeholder="请输入联系方式" required="" value="" />
                                    </span>
                        </div>
                        <br>
                        <span style="color:#6c6c6c;margin-left:10px">数量：
                          <input type="button" value="+" style="margin-right:-6px;" class="trade-input-count-button" onclick="countoper('jia')">
                          <input type="text" class="trade-input-count" id="p_num" name="num" value="1" placeholder="请输入购买数量" required="" min="1" max="9999">
                          <input type="button" value="-" style="margin-left:-6px;" class="trade-input-count-button" onclick="countoper('jian')">
                       </span>
                        {else /}

                        {volist name='info.moban' id='v1' key='k'}
                        <div class="from mo">
                                    <span style="color:#6c6c6c;margin-left:10px"  id="title{$k}" data-title="{$v1[0]}">{$v1[0]}：
                                        <input  id="moban{$k}" style="padding: 0.5em;font-size: 1rem;line-height: 1.2;color: #333;" placeholder="{$v1[1]}" required>
                                    </span>
                        </div>
                        <br>
                        {/volist}

                        <div class="from">
                                    <span style="color:#6c6c6c;margin-left:10px">联系方式：
                                        <input id="mobile_sh"  style="padding: 0.5em;font-size: 1rem;line-height: 1.2;color: #333;" placeholder="请输入联系方式" value="" required="" />
                                    </span>
                        </div>
                        {/if}

                    </form>
                    <input id="minnum" name="minnum" class="z" type="hidden" value="{$info.mins}" />
                    <input id="maxnum" name="maxnum" class="z" type="hidden" value="{$info.maxs}" />
                    <input id="bei" name="beishu" class="z" type="hidden" value="{$info.bei}" />
                    <input id="huo"  class="z" type="hidden" value="{$info.huo}" />
                    <input id="gid"  class="z" type="hidden" value="{$info.id}" />
                    <input id="counts"  class="z" type="hidden" value="{$info.num}" />
                    <input id="danpay"  class="z" type="hidden" value="{$info.money}" />
                    <input id="member_id"  class="z" type="hidden" value="{$Think.session.info.id}" />

                    <br>
                    <button type="button"  class="am-btn am-btn-danger am-btn-xl am-square" id="paysubmit" style="margin-top:20px">
                        <span class="am-icon-shopping-cart"></span>立即购买
                    </button>

                    <!-- 网格结束 -->
                </div>
            </div>
        </div>

        <div class="am-panel am-panel-default" style="border-radius:0px;margin-top: 10px">
            <div class="am-panel-hd">商品描述</div>
            <div class="am-panel-bd">
               {$info.content|default=''}
            </div>
        </div>
    </div>

{include file="public:twombfoot" /}


<script>
    //数量添加 修改
    function countoper(oper){
        count=$("#p_num").val();
        if(oper=='jia'){
            count=parseInt(count)+1;
        }else{
            count=parseInt(count)-1;
        }
        if(parseInt(count)<0){
            count=0;
        }
        $("#p_num").val(count);
    }
   
    //手机验证
    function checkPhone(phone) {
        var tel_reg = /^1(3|4|5|6|7|8|9)\d{9}$/;
        if (tel_reg.test(phone)) {
            return true;
        } else {
            return false;
        }
    }


    //生成订单 商城模板
    $('#paysubmit').click(function(){
        var huo = $('#huo').val(); //发货类型
        var gid = $('#gid').val();//商品id
        var member_id = $('#member_id').val(); //member
        var urls  = "{:url('two/buy')}";
        var hrefs ="{:url('two/buy')}";
        //自动发货
        if(huo == 0){
            var mobile = $.trim($('#mobile_zi').val());

            if(mobile == '' || mobile == undefined || mobile == 'undefined'){
                layer.msg('请输入电话信息');
                return false;
            }

            if(checkPhone(mobile) == false){
                layer.msg('电话号码不合法');
                return false;
            }
            var num = $('#p_num').val(); //商品购买数量
            var bei = $('#bei').val();
            var min = $('#minnum').val();
            var max = $('#maxnum').val();
            var counts = $('#counts').val();
            if(num < min || num =='' || num == undefined){
                layer.msg('最少购买数量是'+min);
                return false;
            }

            if(num > max){
                layer.msg('商品购买数量最大是'+max);
                return false;
            }

            if(num >counts){
                layer.msg('不好意思，商品购买大于商品库存总数！');
                return false;
            }

            num = num * bei;
            var danpay   = $('#danpay').val();//单价
            var countpay = (num * bei) * danpay; //总价

            $.post(urls,{'gid':gid,'member_id':member_id,'mobile':mobile,'num':num,'huo':0,'danpay':danpay,'countpay':countpay},function(ret){
                if(ret.code == 200){
                    layer.msg(ret.msg,function(){
                        parent.location.href = hrefs+'?order_no='+ret.order+'&did='+ret.gid;
                    })
                }

                if(ret.code == 400){
                    layer.msg(ret.msg,function(){
                        parent.location.reload();
                    })
                }
            },'json');
        }

        //手动发货
        if(huo == 1){
            var mobile =$.trim($('#mobile_sh').val());//电话

            if(mobile =='' || mobile == undefined || mobile =='undefined'){
                layer.msg('请输入用户信息');
                return false;
            }

            if(checkPhone(mobile) == false){
                layer.msg('电话号码不合法');
                return false;
            }

            //模板数据
            var content= [];

            var len   = $('form .mo').length;
            for(var i=1;i<=len;i++){
                content.push($("#title"+i).attr('data-title'));
                content.push($("#moban"+i).val());
            }

            console.log(content);

            var danpay = $('#danpay').val();//单价

            var num  = 1 ; //人工发货默认数量1

            var countpay = danpay * num ;
            $.post(urls,{'mobile':mobile,'gid':gid,'member_id':member_id,'huo':1,'danpay':danpay,'content':JSON.stringify(content),'num':num,'countpay':countpay},function(ret){
                if(ret.code == 200){
                    layer.msg(ret.msg,function(){
                        parent.location.href = hrefs+'?order_no='+ret.order+'&did='+ret.gid;
                    })
                }

                if(ret.code == 400){
                    layer.msg(ret.msg,function(){
                        parent.location.reload();
                    })
                }
            },'json');
        }


    })


    /*
     function buy(a,b) {
     var p_num = document.getElementById("p_num").value;
     var minnum = document.getElementById("minnum").value;
     var maxnum = document.getElementById("maxnum").value;
     var beishu = document.getElementById("beishu").value;
     if (p_num < minnum){
     layer.alert('最小购买数是'+minnum);
     document.getElementById("p_num").value = minnum;
     return false;
     }
     if (p_num > maxnum){
     layer.alert('最大购买数是'+maxnum);
     document.getElementById("p_num").value = maxnum;
     return false;
     }
     if(b == 2){
     $.ajax({
     //几个参数需要注意一下
     type: "POST", //方法类型
     dataType: "json", //预期服务器返回的数据类型
     url: "/ajaxbuy", //url
     data: $('#p_form').serialize(),
     success: function(result) {
     if (result.status == 1) {
     layer.msg(result.msg, function() {
     window.location.href = "/buy?gid="+result.gid+"&order_no="+result.order_no;
     });
     } else {
     layer.msg(result.msg);
     }
     ;
     },
     });
     return false;
     }
     if (a >= (parseInt(p_num)*parseInt(beishu))) {
     $.ajax({
     //几个参数需要注意一下
     type: "POST", //方法类型
     dataType: "json", //预期服务器返回的数据类型
     url: "/ajaxbuy", //url
     data: $('#p_form').serialize(),
     success: function(result) {
     if (result.status == 1) {
     layer.msg(result.msg, function() {
     window.location.href = "/buy?gid="+result.gid+"&order_no="+result.order_no;
     });
     } else {
     layer.msg(result.msg);
     }
     ;
     },
     });
     } else {
     layer.alert('库存不足！');
     }
     }
     */
</script>

</script>

</div>



