<div class="row">
    <div class="pad margin no-print">
        <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> 你好,{$webData['user_info']['nickname']}:</h4>
            欢迎来到后台管理系统，左侧为菜单区域，右侧为功能区。
        </div>
    </div>
</div>
<!-- 显示 -->
<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">会员总数</span>
                <span class="info-box-number">90</span>
            </div>

        </div>
    </div>


    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">未发货订单</span>
                <span class="info-box-number">41,410</span>
            </div>
        </div>
    </div>


    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">昨日订单</span>
                <span class="info-box-number">760</span>
            </div>
        </div>
    </div>

    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
        <span class="info-box-icon bg-blue"><i class="ion ion-ios-people-outline"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">今日订单</span>
            <span class="info-box-number">2,000</span>
        </div>
    </div>
  </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="ion ion-ios-cart-outline"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">昨日金额</span>
                <span class="info-box-number">2,000</span>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="ion ion-ios-cart-outline"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">今日金额</span>
                <span class="info-box-number">2,000</span>
            </div>
        </div>
    </div>

</div>

<!--配置信息-->
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">服务器信息</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                <i class="fa fa-times"></i></button>
        </div>
    </div>

    <div class="box-body">Thinkphp version: thinphp5.1</div>
    <div class="box-body">环境信息：apcheX.x或nginx X.X (根据服务器环境信息)</div>
    <div class="box-body">php版本：php7.2</div>
    <div class="box-body">MySQL数据库版本：mysql5.3</div>
    <div class="box-body">栗子发卡系统官网：www.956ka.cn</div>
    <div class="box-body">当前版本：1.0</div>
    <div class="box-body">个人发卡程序|交流群：123456</div>
    <div class="box-body">程序说明：xxxxxx</div>
</div>

<script>

    function test() {
        layer.msg('测试弹出，你好好好', {
            icon: 9
        });
    }
</script>