{include file="public:head" /}
<style>
    #bar .bar_top {
        background-color: #00A2CA;
        background: #00A2CA url(../sink/cssimg/dinggoubg.png) repeat-x;
    }
    .indexlistlb {
        background-color: #AAEDFE;

    }
</style>
<div class="topliucheng">
    <img src="/index/sink/img/goumaizn01.png" title="">
    <p><strong><span style="color:#ff0000;"><span style="font-size:18px;">提取卡密后请尽快激活使用或保存好，系统定期清除被提取的卡密</span></span></strong><br />
        <br />
        <strong><span style="color:#3498db;"><span style="font-size:18px;">最新源码&radic;正版授权&radic;终身更新&radic;售后群&radic;24小时自助购买&radic;</span></span></strong></p>        <div id="bd">

        <div id="bar">
            <div class="bar_top">商家信息</div>
            <div class="from_wz_41">
                <div class="kefu"><a target="blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=26591626&amp;Site=添加客服QQ购买续费不迷路&amp;Menu=yes">QQ:26591626</a> </div>                <div class="kefu">
                    QQ群：285555187</div>
                <div class="kefu">
                微信：26591626</div>

            </div>

            <div class="bar_top">手机扫码购买</div><div class="erweima">
            <img src="/images/code.png"> </div>
        </div>


        <div id="bar_r">


            <div id="body_xiao">
                <table style="width:100%" border="0" cellpadding="10" cellspacing="0"  >

                    <tr >
                        <th class="indexlistlb">商品名称</th>


                        <th class="indexlistlb">单价</th>


                        <th class="indexlistlb">批发价</th>


                        <th class="indexlistlb">库存</th>
                        <th class="indexlistlb">操作</th>
                    </tr>
                    <tr>
                        <th colspan="5" align="center" class="greencoler" >
                            <div align="center"><font size="3">栗子发卡系统授权码</font></div>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <div align="left">
                                <a class="button button-action button-circle button-small" title="自动发货商品，购买后自动发货">自动</a>
                                <font size="3" title="★栗子个人发卡源码★授权码★最新版&radic;正版授权&radic;24小时自动发货&radic;">★栗子个人发卡源码★授权码★最新版&radic;正版...</font>
                            </div>
                        </td>
                        <td>
                            <font color="#FF5400"  size="2" title="会员单价">58.00元</font>
                            <br/>
                            <font color="#BBBBBB"  size="1" title="销量">销量292</font>
                        </td>
                        <td>
                            <font color="#0281D2"  size="2" title="批发单价">58.00元<br/></font>
                            <font color="#BBBBBB"  size="1" title="普通用户购买数量2个起按照批发单价计算">2个起</font>
                        </td>
                        <td >
                            <font color="#000CF9"  size="3" title="物品库存">
                                9
                            </font>
                        </td>


                        <td >
                            <a class="button button-primary button-rounded button-small" onclick="location.href = '/trade?id=18'">购买</a>
                        </td>
                    </tr>
                    <th colspan="5" align="center" class="greencoler" >
                        <div align="center"><font size="3">栗子发卡系统代理商</font></div>
                    </th>
                    </tr>
                    <tr>
                        <td>
                            <div align="left">
                                <a class="button button-highlight button-circle button-small" title="手动发货商品，购买后客服手动发货给你">手动</a>
                                <font size="3" title="栗子发卡系统/授权代理/低价授权/包更新+售后群">栗子发卡系统/授权代理/低价授权/包更新...</font>
                            </div>
                        </td>
                        <td>
                            <font color="#FF5400"  size="2" title="会员单价">888.00元</font>
                            <br/>
                            <font color="#BBBBBB"  size="1" title="销量">销量0</font>
                        </td>
                        <td>
                            <font color="#0281D2"  size="2" title="批发单价">888.00元<br/></font>
                            <font color="#BBBBBB"  size="1" title="普通用户购买数量2个起按照批发单价计算">2个起</font>
                        </td>
                        <td >
                            人工发货
                        </td>


                        <td >
                            <a class="button button-primary button-rounded button-small" onclick="location.href = '/trade?id=19'">购买</a>
                        </td>
                    </tr>
                    <th colspan="5" align="center" class="greencoler" >
                        <div align="center"><font size="3">栗子发卡系统 - 自营产品</font></div>
                    </th>
                    </tr>



                </table>

            </div>
        </div>
    </div>

{include file="public:foot" /}