
<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8" />

    <title>栗子发卡网 - 轻量级虚拟发卡商城系统</title>

    <meta name="keywords" content="栗子自动发卡平台、栗子发卡网、栗子个人发卡网系统、栗子发卡、栗子网络" />

    <meta name="description" content="栗子发卡商城（www.956ka.cn）致力于数字产品自动发卡平台程序的研发，我们坚持做最简单最好用的轻量级虚拟发卡商城系统。" />
    <script type="text/javascript" src="/static/index/sink/js/jquery-1.8.3.min.js"></script>
    <link href="/static/index/sink/css/css7.css" rel="stylesheet" type="text/css" />
    <link href="/static/index/sink/css/zzsc.css" rel="stylesheet" type="text/css" />
    <link href="/static/index/sink/css/buttons.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/static/upload/d70246a5a92a0e52/652b06071d850ef1.png" />
    <script type="text/javascript" src="/static/index/sink/js/Validform_v5.3.2_min.js"></script>
    <script type="text/javascript" src="/static/index/sink/js/layer.js"></script>

    <style type="text/css">
        .info.denglu {
            line-height: 55px;
        }
        #head .top .logo_img {
            float: left;
            height: 80px;
            width: 400px;
            margin-top: 10px;
        }
        .dh {
            border-top: 3px solid #00A2CA;
            border-bottom: 5px solid #017390;
            background: #00A2CA;
        }
        ul#nav {
            background: #00A2CA;
        }
        .a2 {
            background: #017390;
        }
        ul#nav li a:hover {
            background: #017390;
        }
    </style>
</head>

<body>

<div id="head">

    <div class="top">
        <div class="logo_img"><a href="/"><img src="/static/upload/1cdeedd9c852d326/b90132c0ae6df70a.png" width="400" height="80"></a></div>
        <div class="info denglu">
            <a class="button button-3d button-primary button-small" href="/login">登陆</a>
            <a class="button button-3d button-caution button-small" href="/reg"><i class="fa fa-tag"></i>注册</a>&nbsp;&nbsp;
        </div>

    </div>
    <div class="dh">
        <ul id="nav">
            <li><a  class="a2"   href="/">商品首页</a></li>
            <li><a   href="/search">游客订单查询</a></li>
            <li><a   href="/address">兑换地址</a></li>
            <li><a   href="/about">关于我们</a></li>
            <li><a   href="/help">帮助中心？</a></li>
        </ul>
    </div>
</div>



<br/>
<style>

    #bar .bar_top {
        background-color: #00A2CA;
        background: #00A2CA url(../sink/cssimg/dinggoubg.png) repeat-x;
    }
    .indexlistlb {
        background-color: #AAEDFE;

    }
</style>
<div class="topliucheng"><img src="/static/index/sink/img/goumaizn01.png" title="">
    <p><strong><span style="color:#ff0000;"><span style="font-size:18px;">提取卡密后请尽快激活使用或保存好，系统定期清除被提取的卡密</span></span></strong><br />
        <br />
        <strong><span style="color:#3498db;"><span style="font-size:18px;">最新源码&radic;正版授权&radic;终身更新&radic;售后群&radic;24小时自助购买&radic;</span></span></strong></p>        <div id="bd">

        <div id="bar">
            <div class="bar_top">商家信息</div>
            <div class="from_wz_41">
                <div class="kefu"><a target="blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=26591626&amp;Site=添加客服QQ购买续费不迷路&amp;Menu=yes">QQ:26591626</a> </div>
                <div class="kefu">
                    QQ群：285555187</div><div class="kefu">
                微信：26591626</div>

            </div>

            <div class="bar_top">手机扫码购买</div><div class="erweima">
            <img src="/static/upload/591cef134eeabcaa/73bd9c513a10b5b5.png"> </div>
        </div>


        <div id="bar_r">


            <div id="body_xiao">
                <table style="width:100%" border="0" cellpadding="10" cellspacing="0"  >

                    <tr >
                        <th class="indexlistlb">商品名称</th>


                        <th class="indexlistlb">单价</th>


                        <th class="indexlistlb">批发价</th>


                        <th class="indexlistlb">库存</th>
                        <th class="indexlistlb">操作</th>
                    </tr>
                    <tr>
                        <th colspan="5" align="center" class="greencoler" >
                            <div align="center"><font size="3">栗子发卡系统授权码</font></div>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <div align="left">
                                <a class="button button-action button-circle button-small" title="自动发货商品，购买后自动发货">自动</a>
                                <font size="3" title="★栗子个人发卡源码★授权码★最新版&radic;正版授权&radic;24小时自动发货&radic;">★栗子个人发卡源码★授权码★最新版&radic;正版...</font>
                            </div>
                        </td>
                        <td>
                            <font color="#FF5400"  size="2" title="会员单价">58.00元</font>
                            <br/>
                            <font color="#BBBBBB"  size="1" title="销量">销量292</font>
                        </td>
                        <td>
                            <font color="#0281D2"  size="2" title="批发单价">58.00元<br/></font>
                            <font color="#BBBBBB"  size="1" title="普通用户购买数量2个起按照批发单价计算">2个起</font>
                        </td>
                        <td >
                            <font color="#000CF9"  size="3" title="物品库存">
                                9
                            </font>
                        </td>


                        <td >
                            <a class="button button-primary button-rounded button-small" onclick="location.href = '/trade?id=18'">购买</a>
                        </td>
                    </tr>
                    <th colspan="5" align="center" class="greencoler" >
                        <div align="center"><font size="3">栗子发卡系统代理商</font></div>
                    </th>
                    </tr>
                    <tr>
                        <td>
                            <div align="left">
                                <a class="button button-highlight button-circle button-small" title="手动发货商品，购买后客服手动发货给你">手动</a>
                                <font size="3" title="栗子发卡系统/授权代理/低价授权/包更新+售后群">栗子发卡系统/授权代理/低价授权/包更新...</font>
                            </div>
                        </td>
                        <td>
                            <font color="#FF5400"  size="2" title="会员单价">888.00元</font>
                            <br/>
                            <font color="#BBBBBB"  size="1" title="销量">销量0</font>
                        </td>
                        <td>
                            <font color="#0281D2"  size="2" title="批发单价">888.00元<br/></font>
                            <font color="#BBBBBB"  size="1" title="普通用户购买数量2个起按照批发单价计算">2个起</font>
                        </td>
                        <td >
                            人工发货
                        </td>


                        <td >
                            <a class="button button-primary button-rounded button-small" onclick="location.href = '/trade?id=19'">购买</a>
                        </td>
                    </tr>
                    <th colspan="5" align="center" class="greencoler" >
                        <div align="center"><font size="3">栗子发卡系统 - 自营产品</font></div>
                    </th>
                    </tr>



                </table>

            </div>
        </div>
    </div>
    <div id="footer"><div><a><br/>Copyright © 2019.Company 17faka.com All rights reserved.</a></div></p><br/>
    </div>
    <script type="text/javascript">
        function htmlmsg(a, b) {
            layer.open({
                title: a,
                type: 1,
                skin: 'layui-layer-rim', //加上边框
                area: ['410px', '170px'], //宽高
                content: '<div style="font-size: 12px;color: #f17100;margin:5px;border:5px;padding:5px;"> ' + b + ' </div>'
            });
        }
        function htmlmsg2(a, b) {
            layer.open({
                title: a,
                type: 1,
                skin: 'layui-layer-rim', //加上边框
                area: ['390px', '180px'], //宽高
                content: '<div align=center><br/>点击下方的按钮进行查阅<br/><br/><a class="button button-3d button-primary button-rounded button-small" href="/Home/User/down/lb/2/id/' + b + '" target="_blank">查看卡密</a> <a class="button button-3d button-highlight button-rounded button-small" href="/Home/User/down/lb/1/id/' + b + '">下载保存</a> </div>'
            });
        }
    </script>
</body>

</html>