{include file="public:head" /}

<style>
    #bar .bar_top {
        background-color: #00A2CA;
        background: #00A2CA url(../sink/cssimg/dinggoubg.png) repeat-x;
    }
    .indexlistlb {
        background-color: #AAEDFE;

    }
</style>
<div class="topliucheng">
    <img src="/index/sink/img/goumaizn01.png" title="">
    {$indexs['content']|htmlspecialchars_decode}
    <div id="bd">

        <div id="bar">
            <div class="bar_top">商家信息</div>
            <div class="from_wz_41">
                <div class="kefu"><a target="blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin={$config['kefu']}&amp;Site=添加客服QQ购买续费不迷路&amp;Menu=yes">QQ:{$config['kefu']}</a> </div>
                <div class="kefu">
                    QQ群：{$config['qq1']}</div>
                <div class="kefu">
                   微信：{$config['qq2']}</div>

            </div>

            <div class="bar_top">手机扫码购买</div><div class="erweima">
            <img src="{$config['qcode']}"> </div>
        </div>


        <div id="bar_r">
            <div id="body_xiao">
                <table style="width:100%" border="0" cellpadding="10" cellspacing="0"  >

                    <tr >
                        <th class="indexlistlb">商品名称</th>
                        <th class="indexlistlb">单价</th>
                        <th class="indexlistlb">批发价</th>
                        <th class="indexlistlb">库存</th>
                        <th class="indexlistlb">操作</th>
                    </tr>
                    {volist name='list' id='vo'}
                    <tr>
                        <th colspan="5" align="center" class="greencoler" >
                            <div align="center"><font size="3">{$categorys[$vo.cid]}</font></div>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <div align="left">
                                {eq name='$vo.huo' value='0'}
                                <a class="button button-action button-circle button-small" title="自动发货商品，购买后自动发货">自动</a>
                                {else /}
                                <a class="button button-highlight button-circle button-small" title="手动发货商品，购买后客服手动发货给你">手动</a>
                                {/eq}
                                <font size="3" title="{$vo.title}">{$vo.title}</font>
                            </div>
                        </td>
                        <td>
                            <font color="#FF5400"  size="2" title="会员单价">{$vo.money}</font>
                            <br/>
                            <font color="#BBBBBB"  size="1" title="销量">销量:{$vo.paynum}</font>
                        </td>
                        <td>
                            <font color="#0281D2"  size="2" title="批发单价">{$vo.pipay}元<br/></font>
     <font color="#BBBBBB"  size="1" title="普通用户购买数量{$vo.pinum}个起按照批发单价计算">{$vo.pinum}个起</font>
                        </td>
                        <td >
                            <font color="#000CF9"  size="3" title="物品库存">
                                {$vo.num}
                            </font>
                        </td>


                        <td >
                            <a class="button button-primary button-rounded button-small"  href = "{:url('index/trade',array('id'=>$vo.id))}">购买</a>
                        </td>
                    </tr>
                   {/volist}
<!--                    </tr>-->

                </table>

            </div>
        </div>
    </div>

{include file="public:foot" /}