{include file='public:head'/}
<style>
    #sycontent{
        display: none !important;
    }
</style>
      <div class="am-container" style="padding:2px">
      
<div style="padding:100px 20px;text-align:center;background-color:#fff">
  <img src="/static/index/images/fkcg.png" alt="付款成功" width="50px">
  <span style="height:60px;vertical-align:middle;font-size:24px;color:#333333">恭喜您！付款成功！</span>
  <p style="color:#999999">订单编号：{$order.order_no}<br>支付金额：{$order.price}元</p>
  <a type="button" class="am-btn am-btn-success" href="/search">查看订单</a>
</div>
{include file='public:foot'/}

