{include file='public:head'/}
<style type="text/css">
    .query {
        padding: 25px;
        min-height: 300px;
    }
    .query .in {
        height: 45px;
        border: 1px solid #ff6600;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        width: 65%;
        margin-right: auto;
        margin-left: auto;
        overflow: hidden;
    }
    .query .in .in_l {
        float: left;
        width: 80%;
        height: 100%;
    }
    .query .in .in_r {
        float: right;
        height: 100%;
        width: 20%;

    }
    .query .in input {
        margin: 0px;
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
        height: 100%;
        width: 100%;
        line-height: 45px;
        font-size: 18px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 1%;
    }
    .query .in .in_r input {
        cursor: pointer;
        background-color: #F60;
        font-size: 20px;
        line-height: 45px;
        color: #FFF;
        font-weight: bold;
        padding: 0px;
        width: 100%;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }
    #kong .query .title {
        text-align: center;
        height: 50px;
        line-height: 50px;
        margin-bottom: 15px;
    }
    .title2 {
        text-align: center;
        height: 25px;
        line-height: 25px;
        margin-bottom: 15px;
        font-size: 14px;
        color: #ff253a;
    }</style>

<div id="kong">
    <div class="query">
        <div class="title">请输入订单号，交易单号，联系方式查询</div>
        <form action="/search" method="post">
            <div class="in">
                <div class="in_l"><input type="text" name="content" placeholder="请输入订单号，交易单号，联系方式查询"/></div>
                <div class="in_r"><input type="submit" value="订单查询" /></div>
            </div>
        </form>
        <br/>
<!--        <div class="title2">注意：超过24小时的订单禁止查询，如果您想长期保留订单，请您注册成为我们的会员。</div>-->
        <br/><font size="4" color="#000000" title="这是您最近的购买记录">这是您的购买记录</font>
        <br/> <table width="100%" border="0" cellspacing="0" cellpadding="10">
            <tr>
                <th scope="col">类型</th>
                <th scope="col">订单号</th>
                <th scope="col">名称</th>
                <th scope="col">数量</th>
                <th scope="col">单价</th>
                <th scope="col">总价</th>
                <th scope="col">状态</th>
                <th scope="col">日期</th>
                <th scope="col">操作</th>
            </tr>
            {volist name='orders' id='vo'}
            <tr>
                <td align="center">
                    <font color="#FF0000">
                        {if condition='$vo.huo eq 0'}
                        自动发货{else /}
                        手动发货
                        {/if}</font>
                </td>
                <td align="center">{$vo.order_no}</td>
                <td ><div align="left"><a target="_blank" href="{:url('index/trade')}?id={$order.gid}">{$goods[$vo.gid]}</a></div></td>
                <td align="center">{$vo.num}个</td>
                <td align="center">{$vo.danypay}元</td>
                <td align="center">{$vo.countpay}元</td>
                <td align="center">
                    {if condition='$vo.status eq 1'}
                    <font style="cursor:pointer;" color="#ff4351">已付款</font>
                    {/if}

                    {if condition='$vo.status eq 0'}
                    <font style="cursor:pointer" color="#CCCCCC">未付款</font>
                    {/if}
                </td>  
                <td><a title="{$vo.create_time}">{$vo.create_time}</a></td>

                <td align="center">
                     <!-- 已经支付 -->
                    {if condition='$vo.status eq 1'}
                    <a href="{:url('index/orderinfo')}?orderno={$vo.order_no}" title="点击查看卡密" target="_blank" class="button button-highlight button-rounded button-tiny">提卡</a>

                    <font style="cursor:pointer;" color="#ff4351">联系客服退款</font>

                    <font style="cursor:pointer;" color="#ff4351">已发货</font>

                    <font style="cursor:pointer" color="#CCCCCC">未发货</font>

                     <!-- 未支付 -->
                    【<a href="/jxgoumai?id={$order.id}" target="_blank" >付款</a>】【<a  style="cursor:pointer" onclick="del({$order.id})" >删除</a>】

                </td>
            </tr>	
            {/volist}
        </table>
        <br/>
        <div class='text-right'>
            <ul class='pagination'>
                <li><span class="rows">共{$count}条</span></li>
            </ul>
        </div>
    </div>


</div>
<script src='/static/index/sink/js/layer/layer.js'></script>
<script type="text/javascript">
    function del(a) {
        if (a == "") {
            layer.msg('条件丢失');
            return;
        }
        layer.confirm('确定要删除订单吗？', {
            title: '确认信息',
            btn: ['确定', '取消'] //按钮
        }, function() {
             $.ajax({
            //几个参数需要注意一下
                type: "POST",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "{:url('index/delorder')}" ,//url
                data: {order:a},
                success: function (result) {
                    if (result.status == 1) {
                      layer.msg('删除成功！');
                        parent.location.reload();
                    }else{
                        layer.msg(result.msg);
                    };
                },
            });
        });
    }

    function cuidan(a) {
        if (a == "") {
            layer.msg('条件丢失');
            return;
        }
        layer.confirm('确定要 ' + a + ' 的订单催单吗？', {
            title: '确认信息',
            btn: ['确定', '取消'] //按钮
        }, function() {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/home/index/cuidan",
                dataType: "TEXT",
                        data: 'order=' + a,
                success: function(data) {
                    layer.msg('删除成功，客服会尽快为您处理！');
                    window.location.reload();
                }
            });
        });
    }
</script>
{include file='public:foot'/}