
{include file="public:head" /}

<div id="bd">

    <div id="bar">
        <div class="bar_top">关于我们</div><br />

        <ul id="bar_ul">
            <li class="va" ><a href="{:url('configcom/about')}">关于我们</a></li>
            <li ><a href="{:url('configcom/address')}">兑换地址</a></li>
            <li ><a href="{:url('configcom/help')}">帮助中心</a></li>
        </ul>
    </div>


    <div id="bar_r">


        <div id="body_xiao">
            <div class="table">
                {$info['content']|htmlspecialchars_decode}
            </div>
        </div>
    </div>
</div></div>
{include file='public:foot'/}