{include file="public/loginhead" /}

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="padding:6px 15px;">
                <img src="/static/index/sink/img/logo.png" style="height:40px;" alt=""></a>
        </div>
        <div class="collapse navbar-collapse" id="header-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/" target="_blank">首页</a></li>
                <li><a href="tencent://message/?uin=26591626&Menu=yes" target="_blank">联系我们</a></li>
                <li class="dropdown">
                    <a href="{:url('user/index')}" class="dropdown-toggle" data-toggle="dropdown">会员中心 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{:url('login/login')}"><i class="fa fa-sign-in fa-fw"></i> 登 录</a></li>
                        <li><a href="{:url('login/reg')}"><i class="fa fa-user-o fa-fw"></i> 注 册</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


<main class="content">
    <div id="content-container" class="container">
        <div class="user-section login-section">
            <div class="logon-tab clearfix"> <a class="active" href="{:url('login/login')}">登 录</a>
                <a href="{:url('login/reg')}">注 册</a> </div>
            <div class="login-main">

                <form name="form" id="loginform" class="form-vertical" onsubmit='return false;'>
                    <div class="form-group">
                        <label class="control-label" for="account">账号</label>
                        <div class="controls">
                            <input class="form-control input-lg" id="account" type="text" name="user" value="" data-rule="required" placeholder="用户名" autocomplete="off">
                            <div class="help-block"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="password">密码</label>
                        <div class="controls">
                            <input class="form-control input-lg" id="password" type="password" name="password" data-rule="required;password" placeholder="密码" autocomplete="off">
                        </div>
                    </div>
                    <!--                <div class="form-group">
                                        <div class="controls">
                                            <input type="checkbox" name="keeplogin" checked="checked" value="1"> 保持会话
                                            <div class="pull-right"><a href="javascript:;" class="btn-forgot">忘记密码?</a></div>
                                        </div>
                                    </div>-->
                    <div class="form-group">
                        <button type="button"  class="btn btn-primary btn-lg btn-block login">登 录</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</main>

{include file="public:loginfoot" /}
<script>
  $('.login').click(function(){


      let account = $('#account').val();
      let pwd     = $('#password').val();

      if(account =='' ||account ==undefined){
          layer.tips('用户名不能为空','#account');
          return ;
      }

      if(pwd =='' ||pwd ==undefined){
          layer.tips('密码不能为空','#password');
          return ;
      }

      $.ajax({
          //几个参数需要注意一下
          type: "POST", //方法类型
          dataType: "json", //预期服务器返回的数据类型
          url: "{:url('login/login')}", //url
          data:{account:account,pwd:pwd},
          success: function(ret) {
           if(ret.code  == '405'){
              layer.msg(ret.msg,{time:1500});
              return;
            };

           if(ret.code  == '403'){
                  layer.msg(ret.msg,{time:1500});
                  return;
              };
           if(ret.code == '500'){
               layer.msg(ret.msg,{time:1500});
               return ;
            };
           if(ret.code  == '200'){
                  layer.msg(ret.msg,{time:1500},function(){
                     parent.location.href="{:url('user/index')}";
                  });
              };
          },
          error:function(ret){
              console.log(111);
          }
      });
  });
</script>

</body>
</html>