{include file="public/loginhead" /}

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="padding:6px 15px;"><img src="/static/index/sink/img/logo.png" style="height:40px;" alt=""></a>
        </div>
        <div class="collapse navbar-collapse" id="header-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/" target="_blank">首页</a></li>
                <li><a href="tencent://message/?uin=26591626&Menu=yes" target="_blank">联系我们</a></li>
                <li class="dropdown">
                    <a href="/index/user/index.html" class="dropdown-toggle" data-toggle="dropdown">会员中心 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{:url('login/login')}"><i class="fa fa-sign-in fa-fw"></i> 登 录</a></li>
                        <li><a href="{:url('login/reg')}"><i class="fa fa-user-o fa-fw"></i> 注 册</a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main class="content">
    <div id="content-container" class="container">
        <div class="user-section login-section">
            <div class="logon-tab clearfix">
                <a href="{:url('login/login')}">登 录</a> <a class="active" href="{:url('login/reg')}">注 册</a> </div>
            <div class="login-main">

                <form name="form1" id="regform" class="form-vertical" onsubmit='return false;'>
                    <div class="form-group">
                        <label class="control-label required">邮箱<span class="text-success"></span></label>
                        <div class="controls">
                            <input type="text" name="email" id="email" data-rule="required;email" class="form-control input-lg" placeholder="邮箱">
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">用户名</label>
                        <div class="controls">
                            <input type="text" id="user" name="user" data-rule="required;username" class="form-control input-lg" placeholder="用户名必须3-30个字符">
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">密码</label>
                        <div class="controls">
                            <input type="password" id="password" name="password" data-rule="required;password" class="form-control input-lg" placeholder="密码必须6-30个字符">
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">QQ</label>
                        <div class="controls">
                            <input type="text" id="qq" name="qq" class="form-control input-lg" placeholder="QQ号">
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">验证码</label>
                        <div class="controls">
                            <div class="input-group input-group-lg">
                                <input type="text" name="captcha" class="form-control" placeholder="验证码" data-rule="required;length(4)" style="border-radius: 0;" />
                                <span class="input-group-addon" style="padding:0;border:none;">
                                <img src="{:captcha_src()}" width="140" height="42" onclick="this.src = this.src"/>
                            </span>
                            </div>
                            <p class="help-block"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" onclick='reg()' class="btn btn-primary btn-lg btn-block">注 册</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

{include file="public/loginfoot" /}


<script>
    function reg(){
        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "/index/login/ajaxreg.html" ,//url
            data: $('#regform').serialize(),
            success: function (result) {
                if (result.status == 1) {
                    layer.msg(result.msg, function(){
                        window.location.href="/login";
                    });
                }else{
                    layer.msg(result.msg);
                };
            },
        });
    }
</script>

</body>
</html>