<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                <form class="form-inline" name="searchForm" action="{:url('goods/cates')}" method="GET">
                    <div class="form-group">
                        <input value="{$Think.get.keywords ? $Think.get.keywords : '' ;}"
                               name="keywords" id="keywords" class="form-control input-sm" placeholder="">
                    </div>

                    <div class="form-group">
                        <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-search"></i> 查询
                        </button>
                    </div>

                    <div class="form-group">
                        <button onclick="clear_form()" class="btn btn-sm btn-" type="button"><i
                                class="fa  fa-eraser"></i> 清空查询
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body table-responsive">
                <div class="form-group">
                    <a title="添加" class="btn btn-primary btn-sm" href="addc.html">添加类型</a>
                </div>
                <table class="table table-hover table-bordered datatable" width="100%">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>分类名称</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    {volist name='list' id='vo'}
                    <tbody>
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.title}</td>
                        <td>{$vo.create_time}</td>
                        <td class="td-do">
                            <a href="nodes.html" class="btn btn-success btn-xs" title="">
                                <i class="fa fa-pencil">分类下产品</i>
                            </a>
                            <a href="{:url('goods/addc',array('id'=>$vo.id))}" class="btn btn-primary btn-xs" title="修改">
                                <i class="fa fa-pencil">编辑</i>
                            </a>
                            <a class="btn btn-danger btn-xs" title="删除" href="{:url('goods/delc',array('id'=>$vo.id))}" >
                                <i class="fa fa-trash">删除</i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                    {/volist}
                </table>
            </div>
        </div>
        {$list->render()}
