<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                <form class="form-inline" name="searchForm"  action="{:url('goods/glist')}" method="GET">
                    <div class="form-group">
                        <input value="{$Think.get.keywords ? $Think.get.keywords : '' ;}"
                               name="keywords" id="keywords" class="form-control input-sm" placeholder="请输入商品名称">
                    </div>

                    <div class="form-group">
                        <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-search"></i> 查询
                        </button>
                    </div>

                    <div class="form-group">
                        <button onclick="clear_form()" class="btn btn-sm btn-" type="button"><i
                                class="fa  fa-eraser"></i> 清空查询
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body table-responsive">
                <div class="form-group">
                    <a title="添加" class="btn btn-warning btn-sm" href="addg.html">
                        添加商品</a>
                </div>
                <table class="table table-hover table-bordered datatable" width="100%">
                    <thead>
                    <tr>
                        <th>商品Id</th>
                        <th>排序</th>
                        <th>商品名称</th>
                        <th>商品数量</th>
                        <th>价格</th>
                        <th>发货状态</th>
                        <th>商品所属分类</th>
                        <th>创建时间</th>
                        <th>商品状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    {volist name='list' id='vo'}
                    <tbody>
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.sort|default=''}</td>
                        <td>{$vo.title}</td>
                        <td>{$vo.num|default='0'}</td>
                        <td>{$vo.money}</td>
                        <td>
                            {eq name='$vo.huo' value='0'}
                             自动发货
                            {else /}
                             手动发货
                            {/eq}
                        </td>
                        <td>{$category[$vo.cid]}</td>
                        <td>{$vo.create_time}</td>
                        <td class="td-do">
                            {eq name='$vo.status' value='1'}
                            <a data-href="{:url('goods/jiag',array('id'=>$vo.id))}"
                               class="btn btn-success btn-xs ajax" data="{$vo.status}">
                                <i class="fa fa-pencil">上架</i>
                            </a>
                            {else /}
                            <a data-href="{:url('goods/jiag',array('id'=>$vo.id))}" class="btn btn-warning  btn-xs ajax" data="{$vo.status}">
                                <i class="fa fa-pencil">下架</i>
                            </a>
                            {/eq}
                        </td>
                        <td class="td-do">
                            <a href="{:url('goods/addg',array('id'=>$vo.id))}"
                               class="btn btn-primary btn-xs" title="修改">
                                <i class="fa fa-pencil">编辑</i>
                            </a>
                            <a class="btn btn-danger btn-xs " href="{:url('goods/delg',array('id'=>$vo.id))}" title="删除" >
                                <i class="fa fa-trash">删除</i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                    {/volist}
                </table>
            </div>
        </div>
        {$list->render()}

        <script>

            $('.ajax').click(function(){
                var url  = $(this).attr('data-href');

                var data = $(this).attr('data');

                $.post(url,{data:data},function(ret){
                     if(ret.code == '200'){
                         layer.msg(ret.msg,{time:1500},function(){
                             parent.location.reload();
                         })
                     };
                    if(ret.code == '400'){
                        layer.msg(ret.msg,{time:1500},function(){
                            parent.location.reload();
                        })
                    }
                },'json')
            })
        </script>
