
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>登录 -栗子发卡网</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit">

    <meta name="author" content="栗子发卡网">

    <link rel="shortcut icon" href="/images/logo.png" />

    <link href="/index/sink/css/frontend.min.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->


    <link rel="stylesheet" href="/index/sink/css/layui.css"  media="all">
    <link href="/index/sink/css/user.css" rel="stylesheet">
    <style>
        main.content{padding-top:80px;}
    </style>
    <!-- seo -->
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?a251280bf86f57cd4043cbbb98c55f57";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <!-- seo -->

</head>

<body>