
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="欢迎光临" />
<meta name="applicable-device" content="mobile" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<title></title>
<link href="/mobile/sink/css/frozen.css" rel="stylesheet" type="text/css">
<link href="/mobile/sink/css/public.css" rel="stylesheet" type="text/css" />
<link href="/mobile/sink/css/index.css" rel="stylesheet" type="text/css" />
<link href="/mobile/sink/css/login.css" rel="stylesheet" type="text/css">
<script src="/mobile/sink/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/mobile/sink/js/Validform_v5.3.2_min.js"></script>
<link href="/mobile/sink/css/owl.carousel.css" rel="stylesheet">
<script src="/mobile/sink/js/owl.carousel.min.js"></script>
<script src="/mobile/sink/js/layer.js"></script>
</head>

<body>
<div class="mobile">

 <link href="/mobile/sink/css/baoliao.css" rel="stylesheet" type="text/css">

<script type="text/javascript">
$(document).ready(function(){
	$(".shaixuan").click(function(event){
		event.stopPropagation(); 
		$(".shaixuan_box").show();
		$(".shaixuan_box").animate({right:'100%'});
		$("body,html").css("overflow","hidden");
		$(".shaixuan_box").css("overflow","auto");
		$('body').bind("touchmove",function(e){    
                    e.preventDefault();    
            });
	});
	$(".shaixuan_mall a").click(function(event){
		 $("body,html").css("overflow","auto");
		$(".shaixuan_box").animate({right:'-100%'});
		$(".shaixuan_box").hide(5);	
		$("body").unbind("touchmove");  
	});
});
</script>

<div class="header1">
    <header>
    <div class="header"> <a class="new-a-back" href="javascript:history.back();"> <span>
        <img src="/mobile/sink/img/iconfont-fanhui.png"></span> </a>
      <div class="m_logo"><a href="#"><img src="/mobile/sink/img/m-index_02.png"></a></div>
<div class="header_right shaixuan"><img src="/mobile/sink/img/iconfont-shouye.png"></div>
      </div>
  </header>
    <div class="shaixuan_box">
	<div class="shaixuan_mall">
    	<h1>站点导航</h1>
        <div class="shaixun_item">
            <a href="/" class="current"></a>
            <a href="/" class="current">商品主页</a>
            <a href="/recharge" class="current">余额充值</a>
            <a href="/myorder" class="current">我的订单</a>
            <a href="/mychongzi" class="current">资金记录</a>
            <a href="/editpwd" class="current">修改密码</a>
			    	</div>
        <p><a href="#" class="shaixuan_colos">关闭</a></p>
    </div>
  </div>
  </div>




	<div class="m_user w">&nbsp;&nbsp;<a href="/search">游客订单查询</a>
	&nbsp;&nbsp;&nbsp;&nbsp;【<a href="/login">登录</a>】&nbsp;&nbsp;【<a href="/reg">注册</a>】 
  </div>
<!-- 后面开启注释
<div class="m_user w">

<a><b>你好,</b></a>
<a>余额:元</a>
    <a href="/lout" onclick="return confirm('确定要退出吗？')">【安全退出】</a>

</div>
-->