{__NOLAYOUT__}

<link rel="stylesheet" href="__STATIC__/css/app.min.css">

<script src="/twomb/js/jquery.js"></script>
<script src="__PLUGINS__/layer/layer.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <!-- <form  class="form-horizontal dataForm" enctype="multipart/form-data"> -->
                <input type="hidden" id="id" value="{$info.id}">

                <div class="box-body">

                    <div class="box-body">
                        <table class="table table-bordered">
                          <tbody>
                          <tr>
                            <td>订单号</td>
                            <td><div>{$info.member_no}</div></td>
                          </tr>
                          <tr>
                            <td>支付类型</td>
                            <td><div>{$info.paytype}</div></td>
                          </tr>

                          <tr>
                            <td>用户</td>
                            <td><div>{$members[$info.mid]}</div></td>
                          </tr>

                          <tr>
                            <td>充值金额</td>
                            <td><div>{$info.pay}</div></td>
                          </tr>

                          <tr>
                            <td>支付状态：</td>
                            <td><div>  
                                {eq name='$info.status' value='1'}
                                      已支付
                                    {else /}
                                      未支付
                                    {/eq}
                                </div></td>
                          </tr>

                          <tr>
                            <td>创建时间：</td>
                            <td><div>{$info.create_time|date='Y-m-d,h:i:s',###}</div></td>
                          </tr>

                          <tr>
                            <td>支付回执单号</td>
                            <td><div>{$info.trade_no}</div></td>
                          </tr>
                         
                          
                        </tbody>
                    </table>
                      </div>

                </div>

            <!-- </form> -->
        </div>
    </div>
</div>