<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                <form class="form-inline" name="searchForm"  method="GET">
                    <div class="form-group">
                        <select name="gid" id="gid" class="form-control">
                            <option value="">请选择...</option>
                            {volist name='goodes' id='vv'}
                            <option value="{$vv.id}" {if condition="$Think.get.gid eq $vv.id"}selected="" {/if} >{$vv.title}</option>
                            {/volist}
                        </select>
                    </div>

                    <div class="form-group">
                        <input type='text'  id="types" value="{$Think.get.paytype}" class="form-control" placeholder="请输入手机号或者订单号进行查询...">
                    </div>

                    <div class="form-group">
                        <button data-href="{:url('order/index')}"  class="btn btn-sm btn-primary search" type="button">
                            <i class="fa fa-search"></i> 查询
                        </button>
                    </div>

                    <div class="form-group">
                        <button onclick="clear_form()" class="btn btn-sm btn-" type="button"><i
                                class="fa  fa-eraser"></i> 清空查询
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box">

            <div class="box-body table-responsive">

                <div class="form-group">
                    <button onclick="clear_form()" class="btn btn-info pull-right" type="button"><i
                            class="fa  fa-eraser"></i> 删除未完成订单
                    </button>
                </div>

                <table class="table table-hover table-bordered datatable" width="100%">
                    <thead>
                    <tr>
                        <th>订单号</th>
                        <th>商品名称</th>
                        <th>数量</th>
                        <th>账号</th>
                        <th>价格</th>
                        <th>支付方式</th>
                        <th>状态</th>
                        <th>联系方式</th>
                        <th>发货方式</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    {volist name='list' id='vo'}
                    <tbody>
                    <tr>
                        <td>{$vo.order_no}</td>
                        <td>{$goods[$vo.gid]}</td>
                        <td>{$vo.num}</td>
                        <td>
                            {empty name='$vo.member_id'}
                              游客
                            {else /}
                            {$info[$vo.member_id]}
                            {/empty}
                        </td>
                        <td>{$vo.countpay}</td>
                        <td>
                            {if isset($vo.types)}
                            {$vo.types}
                            {/if}
                        </td>
                        <td>
                            {switch name="vo.status"}
                            {case value="1"}
                            <a class="btn btn-block btn-success btn-xs">已支付</a>
                            {/case}
                            {case value="2"}
                            <a class="btn btn-block btn-linkedin btn-xs">已发货</a>
                            {/case}
                            {case value="3"}
                            <a class="btn btn-block btn-foursquare btn-xs">联系客服退款</a>
                            {/case}
                            {default /}
                            <a class="btn btn-block btn-primary btn-xs">未支付</a>
                            {/switch}
                        </td>
                        <td>{$vo.mobile}</td>
                        <td>
                            {eq name='$vo.huo' value='0'}
                            <a class="btn btn-block btn-github btn-xs">自动发货</a>
                             {else /}
                            <a class="btn btn-block btn-github btn-xs">手动发货</a>
                            {/eq}
                        </td>
                        <td>{$vo.create_time}</td>
                        <td class="td-do">
                         
                            <a onclick='budan(this)' data-id='{$vo.id}' data-href="{:url('order/budan')}" class="btn btn-success btn-xs" title="修改">
                                <i class="fa fa-pencil">补单</i>
                            </a>
                        
                            <a data-href="{:url('order/zedit',array('id'=>$vo.id))}" class="btn btn-primary btn-xs edit" title="修改">
                                <i class="fa fa-pencil">查看订单</i>
                            </a>
                            <a class="btn btn-danger btn-xs del" title="删除"  data-href="{:url('order/zdel',array('id'=>$vo.id))}">
                                <i class="fa fa-trash">删除</i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                    {/volist}
                </table>
            </div>
        </div>
        {$list->render();}

        <script>
            $('.edit').click(function(){
                var url = $(this).attr('data-href');
                layer.open({
                    type: 2,
                    title: '查看订单',
                    shadeClose: true,
                    shade: false,
                    area: ['75%', '70%'],
                    content: url,
                })
            });

            $('.del').click(function(){
                var url = $(this).attr('data-href');
                layer.confirm('是否确定删除？', {
                    btn: ['确定','取消'] //按钮
                }, function(){
                   $.get(url,function(ret){
                       if(ret.code == 200){
                           layer.msg(ret.msg,function(){
                               parent.location.reload();
                           });
                       };
                       if(ret.code == 400){
                           layer.msg(ret.msg,function(){
                               parent.location.reload();
                           });
                       }
                   },'json')
                }, function(){
                    parent.layer.close();
                });
            });

            //搜索
            $('.search').click(function(){
                var url = $(this).attr('data-href');
                var gid = $('#gid option:selected').val();
                var paytype =$('#types').val();

                if(gid ==  '' || gid==undefined){
                    layer.msg('请选择商品');
                    return ;
                }

                if(paytype ==  '' || paytype==undefined){
                    layer.msg('请输入需要搜索的订单号或者手机号');
                    return ;
                }
                location.href= url+"?gid="+gid+"&paytype="+paytype;
            })

           
            /** 补单 **/ 
            function budan(obj){
                var urls = $(obj).attr('data-href');
                var id   = $(obj).attr('data-id'); 
                if(urls  == '' || urls  == undefined){
                    return false;
                }

                $.get(urls,{'id':id},function(ret){
                      if(ret.code == 200){
                          layer.msg(ret.msg,{icon:6},function(){
                              parent.location.reload();
                          })
                      }

                      if(ret.code == 400){
                          layer.msg(ret.msg,{icon:5},function(){
                              parent.location.reload();
                          })
                      }
                },'json')
            }
        </script>
