{include file='public:userhead'/}
<div class="col-md-9">
    <div class="panel panel-default ">
        <div class="panel-body">
            <h2 class="page-header">
                会员中心                        
            </h2>
            <div class="row user-baseinfo">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!-- Content -->
                    <div class="ui-content">
                        <!-- Heading -->
                        <h4>欢迎您：{$Think.session.info.account}</h4>
                        <!-- Paragraph -->
                        <br/>
                        <div class="basicinfo">
                            <div class="row">
                                <div class="col-xs-4 col-md-2">会员级别</div>
                                <div class="col-xs-8 col-md-4">
                                    <span class="xred">
                                      {if condition ="$Think.session.info.level eq 1"}
                                        正常用户
                                      {elseif condition ="$Think.session.info.level eq 2" /}
                                        普通代理
                                      {elseif condition ="$Think.session.info.level eq 3" /}
                                        高级代理
                                      {else /}
                                        无
                                      {/if}
                                    </span>
                                </div>
                                <div class="col-xs-4 col-md-2">账户余额</div>
                                <div class="col-xs-8 col-md-4">
                                    <a href="javascript:;" class="viewmoney">{$Think.session.info.money|floatval|default='0.00'}</a>
                                </div>
                            </div>
<!--                            <div class="row">
                                <div class="col-xs-4 col-md-2">QQ号码</div>
                                <div class="col-xs-8 col-md-4">123456</div>
                                <div class="col-xs-4 col-md-2">邮箱帐号</div>
                                <div class="col-xs-8 col-md-4">123456@qq.com</div>
                            </div>-->
                            <div class="row">
                                <div class="col-xs-4 col-md-2">注册时间</div>
                                <div class="col-xs-8 col-md-4">{$Think.session.info.create_time}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</main>

{include file='public:userfoot'/}


</body>
</html>