{include file='public:userhead'/}
<div class="col-md-9">

    <div class="panel panel-default">
        <div class="panel-body">
            <h2 class="page-header">充值中心</h2>
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" >
                <ul class="layui-tab-title">
                    <li><a href="{:url('user/myorder')}">我的订单</a></li>
                    <li  class="layui-this"><a href="{:url('user/mychongzi')}">充值记录</a></li>
                </ul>
                <div class="layui-tab-content"></div>
            </div>
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>订单号</th>
                    <th>价格</th>
                    <th>状态</th>
                    <th>时间</th>
                </tr>

                </thead>

                {empty name='paylist'}
                 {else /}
                {volist name='paylist' id='pay'}
                <tbody>
                <tr>
                    <td>{$pay.member_no}</td>
                    <td>{$pay.pay}</td>
                    <td>
                        {eq name='$pay.status' value='2'}
                          未付款
                         {else /}
                          已付款
                        {/eq}
                    </td>
                    <td>{$pay.create_time}</td>
                </tr>
                </tbody>
                {/volist}
            </table>
            <center>
                <!-- 分页-->
                <div class="pager">

                </div>

            </center>
        </div>
    </div>

</div>

</div>
</div>

</main>

{include file='public:userfoot'/}

</body>
</html>