{include file='public:userhead'/}
<div class="col-md-9">

    <div class="panel panel-default">
        <div class="panel-body">
            <h2 class="page-header">充值中心</h2>
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" >
                <ul class="layui-tab-title">
                        <li  class="layui-this">
                        <a href="{:url('user/myorder')}">我的订单</a></li>
                        <li><a href="{:url('user/mychongzi')}">充值记录</a></li>
                </ul>
                <div class="layui-tab-content"></div>
            </div>  
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th>订单号</th>
                        <th>商品名</th>
                        <th>数量</th>
                        <th>单价</th>
                        <th>总价</th>
                        <th>状态</th>
                        <th>发货</th>
                        <th>时间</th>
                    </tr> 
                    
                </thead>
                <tbody>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> 

                </tbody>
            </table>
            <center>

                <div class="pager">
                    <ul class="pagination">

                    </ul>
                </div>

          </center>
        </div>
    </div>
</div>
</div>
</div>
<script src="/index/sink/js/layui.js" charset="utf-8"></script>
<script>
//Demo
    layui.use('form', function() {
        var form = layui.form, layer = layui.layer,
                $ = layui.jquery;
        //监听提交
        form.on('submit(formDemo)', function(data) {
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
</script>
</main>

{include file='public:userfoot'/}


</body>
</html>