{include file='public:userhead'/}
<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-body">
            <h2 class="page-header">充值中心</h2>
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" >
                <ul class="layui-tab-title">
                    <li class="layui-this">在线充值</li>
                    <li><a href="{:url('user/vip')}">开通代理</a></li>
               <!--<li><a href="/index/recharge/list.html">充值记录</a></li>-->
                </ul>
                <div class="layui-tab-content"></div>
            </div>  
            <form  class="form-horizontal layui-form" method="get" onsubmit="return false;">
                <div class="layui-form-item">
                    <label class="layui-form-label">余额</label>
                    <div class="layui-input-block">
                        <div class="layui-form-mid layui-word-aux" style="color:red !important">
                           {$Think.session.info.money|floatval|default='null'}
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">充值金额：</label>
                    <div class="layui-input-block">
                        <input class="form-control input-lg" id="account"  type="text" name="price" data-rule="required" placeholder="充值金额" autocomplete="off">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">方式</label>
                    <div class="layui-input-block">
                        <input type="radio" name="payment" value="alipay" title="支付宝" checked="" />
                        <input type="radio" name="payment" value="wxpay" title="微信" />
                        <input type="radio" name="payment" value="qqpay" title="QQ钱包" />
                    </div>
                </div>

                <input type="hidden" id="mid" value="{$Think.session.info.id}" />

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn"  lay-filter="formDemo"  onclick="paymoney()">立即提交</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
</div>
</div>


</main>
<script>
    function paymoney(){
        var urls    = "{:url('@index/pays/addmoney')}";
        var money   = $.trim($('#account').val()); //充值金额
        var paytype = $("input[name='payment']:checked").val();//支付类型
        var mid     = $('#mid').val(); //用户id

        if(urls =='' || urls  == undefined){
            return false;
        }
        
        if(money == '' || money == undefined || money == 'undefined'){
            layer.msg('请输入充值金额');
            return false;
        }

      window.location.href = urls +"?types="+paytype+"&paynum="+money+"&mid="+mid;


    }
</script>



{include file='public:userfoot'/}


</body>

</html>