{include file='public:userhead'/}
<div class="col-md-9">

    <div class="panel panel-default">
        <div class="panel-body">
            <h2 class="page-header">充值中心</h2>
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" >
                <ul class="layui-tab-title">
                    <li><a href="{:url('user/recharge')}">在线充值</a></li>
                    <li class="layui-this">开通代理</li>
<!--                    <li><a href="/index/recharge/list.html">充值记录</a></li>-->
                </ul>
                <div class="layui-tab-content"></div>
            </div>  
            <form id="changepwd-form" class="form-horizontal layui-form" onclick='return false'>
                <div class="layui-form-item">
                    <label class="layui-form-label">余额</label>
                    <div class="layui-input-block">
                        <div class="layui-form-mid layui-word-aux" style="color:red !important">{$Think.session.info.money|default='0.00'}</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">充值</label>
                    <div class="layui-input-block" id='daili'>
                        <input type="radio" name="daili" {eq name='$Think.session.info.level' value='2'} checked="true" {/eq} value="普通代理" title="普通代理({$config.nomal|floatval}元)" data-money='{$config.nomal|floatval}' />
                        <input type="radio" name="daili" {eq name='$Think.session.info.level' value='3'} checked='true' {/eq} value="高级代理"  title="高级代理({$config.high|floatval}元)" data-money='{$config.high|floatval}'>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">方式</label>
                    <div class="layui-input-block">
                         <input type="radio" name="payment" value="alipay" title="支付宝">

                         <input type="radio" name="payment" value="wxpay" title="微信" >

                         <input type="radio" name="payment" value="qqpay" title="QQ钱包" >

                         <input type="radio" name="payment" value="yupay" checked title="余额支付" >
                    </div>
                </div>

                <input type="hidden" id='mid' value='{$Think.session.info.id}'  /> 

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn"  onclick="buyvip()">立即提交</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
</div>
</div>



<script>
    //升级 vip
    function buyvip(){
       var mid   = $('#mid').val(); //user id
       var descs = $("input[name='daili']:checked").val(); //升级类型
       var paymoney = $("input[name='daili']:checked").attr('data-money'); //升级金额
       var types = $("input[name='payment']:checked").val(); //选择pay类型

       if(descs == '' || descs == undefined || descs == 'undefined'){
           layer.msg('请选择充值类型');
           return false;
       }

       if(types == '' || types == undefined){
           layer.msg('请选择支付类型');
           return false;
       }

       if(types == 'yupay'){
          //yu pay
           var yupay = "{:url('user/vippay')}";

           $.post(yupay,{'mid':mid,'descs':descs,'types':types,'paymoney':paymoney},function(ret){
                    if(ret.code == 200 ){
                        layer.msg(ret.msg,{icon:6},function(){
                            parent.location.reload();
                        })
                    }

                   if(ret.code == 400 ) {
                       layer.msg(ret.msg, {icon: 5}, function () {
                           parent.location.reload();
                       })
                   }

                   if(ret.code == 403){
                     layer.msg(ret.msg,{icon:5},function(){
                       parent.location.reload();
                     })
                   }
           },'json')
          
       }else {
         //three pay  

       }

    }



    /*
        function buyvip() {
            var daili = $('#daili input[name="daili"]:checked ').val();
            $.ajax({
                //几个参数需要注意一下
                type: "POST", //方法类型
                dataType: "json", //预期服务器返回的数据类型
                url: "{:url('user/ajaxbuyvip')}", //url
                data: {daili: daili},
                success: function (result) {
                    if (result.status == 1) {
                        layer.msg(result.msg, function () {
                            window.location.href = "/user";
                        });
                    } else {
                        layer.msg(result.msg);
                    }
                    ;
                },
            });
        }
        */
    </script>
</main>

{include file='public:userfoot'/}

<script src="/index/sink/js/require.min.js" data-main="/assets/js/require-frontend.min.js?v=1.0.1"></script>

</body>
</html>